/app/config_sandbox
/app/etc/*
/app/code/Magento/TestModule*
/app/autoload.php
/app/bootstrap.php
/app/etc/NonComposerComponentRegistration.php
/app/etc/di.xml
/app/functions.php


/.grunt

/pub/
/bin/*
/var/
/dev/*
/generated/*
/lib/*
/phpserver/*
/setup/*
/update/*
/var/*
/vendor/*
.htaccess
.php_cs.dist
.travis.yml
.user.ini
auth.json.sample
CHANGELOG.md
composer.json
composer.lock
COPYING.txt
grunt-config.json.sample
Gruntfile.js.sample
index.php
LICENSE.txt
LICENSE_AFL.txt
nginx.conf.sample
package.json.sample
php.ini.sample






